default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: blog_rails_development

test: &test
  <<: *default
  database: blog_rails_test

production:
  <<: *default
  database: blog_rails_production
  username: blog_rails
  password: <%= ENV['BLOG_RAILS_DATABASE_PASSWORD'] %>
