$dark-nav-text-color: rgb(61, 61, 61);
$dark-nav-text-color-blur: #7d7d7d;

.bg-transparent-color {
  background-color: transparent;
}

.no-border {
  border: 0;
}

h1, h2 {
  margin: 0;
}

.border-bottom-gray {
  border-bottom: 1px #d7d7d7 solid;
}
