body, html {
  font-size: 16px;
  font-weight: 400px;
  height: 100%;
}

.wrapper {
  width: 90%;
  max-width: 760px;
  margin: 0 auto;
}

.articles {
  .article {
    padding: 50px 0;
    border-bottom: 1px #d7d7d7 solid;
    position: relative;

    .feature {
      position: absolute;
      right: 0;
      top: 50px;
      display: inline-block;
      padding: 7px 15px;
      color: #78a300;

      span {
        margin-right: 15px;
        opacity: 0;
        color: #78a300;
      }

      &:hover {
        span {
          opacity: 1;
        }
      }
    }

    h2 {
      a {
        color: #d5d5d5;
        font-weight: 600;
        font-size: 20px;
      }
    }

    h1 {
      margin: 20px 0;

      a {
        color: #262b30;
        padding: 10px 0;
        font-weight: 600;
        text-decoration: none;

        &:hover {
          color: #026ed2;
        }
      }
    }

    >span {
      color: #b6b6b6;

      a {
        color: #026ed2 !important;
        text-decoration: none;

        &:hover {
          color: #296298 !important;
        }
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px;
      }

      i {
        margin: 0 5px;
      }
    }

    .text {
      padding: 30px 0 0;
      color: #333332;
      word-wrap: break-word;
      line-height: 38px;
    }
  }
}

.home-icon {
  &.fixed {
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 700;

    @media (max-width: $screen-md-min) {
      z-index: 500;
    }

    a {
      color: #fff;
      background-color: #29292a;
      padding: 9px 12px 9px;
      text-decoration: none;

      &:hover {
        background-color: #3287c1;
      }

      span {
        margin-left: 10px;

        @media (max-width: $screen-sm-min) {
          display: none;
        }
      }
    }
  }
}

.notification {
  margin-top: 50px;
  padding: 20px 25px;
  border-radius: 4px;
  background: #1c78be;

  .ntitle {
    font-size: 18px;
    font-weight: 700;
    padding-right: 20px;
    color: #c4e2f8;
    border-right: 2px solid #3285c4;
  }

  .message {
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    color: #fff;
  }

  a {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -3px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 30px;
    background-color: #0b4673;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      opacity: .6;
    }

    i {
      margin-top: 3px;
    }
  }
}

#fixed-header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: #272727;
  z-index: 600;
  display: none;
  color: #fff;

  .title {
    font-size: 25px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 15px;

    @media (max-width: $screen-sm-min) {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      margin-top: 15px;
    }
  }
}
