.paginator {
  color: #686868;
  padding: 50px 0;

  .left {
    a {
      padding: 10px 20px 10px 30px;

      &:after {
        content: '❮';
        width: 25px;
        height: 25px;
        top: 8px;
        left: 8px;
        display: block;
        position: absolute;
      }
    }
  }

  .right {
    float: right;

    a {
      padding: 10px 30px 10px 20px;

      &:after {
        content: '❯';
        width: 25px;
        height: 25px;
        top: 8px;
        right: -8px;
        display: block;
        position: absolute;
      }
    }
  }

  a {
    border: 2px solid #c3c2c9;
    color: #686868 !important;
    text-decoration: none;
    border-radius: 4px;
    position: relative;

    &:hover {
      background-color: #026ed2;
      border-color: #026ed2;
      color: #fff !important;
    }
  }
}
